        
        <ul class="nav navbar-nav mr-auto">
            <li class="nav-item">@Html.ActionLink("Manager", "Index", "Manager", new { area = "" }, new { @class = "nav-link" })</li>
            <li class="nav-item">@Html.ActionLink("Tenant", "Index", "Tenant", new { area = "" }, new { @class = "nav-link" })</li>
        </ul>
            @Html.AntiForgeryToken()

        <ul class="nav navbar-nav navbar-right">
            <li class="nav-item">
                <a class="nav-link" href="@Url.Action("MyAccount", "Manager")">Hello @Session["UserName"] </a> 
            </li>
            <li class="nav-item"><a class="nav-link" href="@Url.Action("LogOut","Account")">Log Out</a></li>
        </ul>
     







