        <ul class="nav navbar-nav mr-auto">
            <li class="nav-item">@Html.ActionLink("Unit", "TenantIndex", "Units", new { area = "" }, new { @class = "nav-link" })</li>
            <li class="nav-item">@Html.ActionLink("Appointment", "TenantIndex", "Appointments", new { area = "" }, new { @class = "nav-link" })</li>
            <li class="nav-item">@Html.ActionLink("Contact", "Index", "Messages", new { area = "" }, new { @class = "nav-link" })</li>

        </ul>
            @Html.AntiForgeryToken()

        <ul class="nav navbar-nav navbar-right">
            <li class="nav-item">
                <a class="nav-link"  href="@Url.Action("MyAccount", "Tenant")">Hello @Session["UserName"] </a> 
            </li>
            <li class="nav-item"><a  class="nav-link" href="@Url.Action("LogOut","Account")">Log Out</a></li>
        </ul>
     







