@model IEnumerable<PropertyRentalManagement.Models.Message>

@{
    ViewBag.Title = "IndexForTenant";
}

<h2>My Messages</h2>

<p>
    @Html.ActionLink("Create New Message", "CreateForTenant")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Message1)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.User.UserName)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Message1)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.User.UserName)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.MessageId }) |
            @Html.ActionLink("Details", "Details", new { id=item.MessageId }) 

        </td>
    </tr>
}

</table>
