@model PropertyRentalManagement.Models.Unit

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4></h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.UnitNumber)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UnitNumber)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Rents)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Rents)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Size)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Size)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Status)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Status)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Building.BuildingId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Building.BuildingId)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.UnitId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
