@model PropertyRentalManagement.Models.User
<script src="~/Scripts/jquery-1.10.2.min.js"></script>

@{
    ViewBag.Title = "Details";

}

<h2>Details</h2>

<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.UserName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UserName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Password)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Password)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Type)
        </dt>

        <dd class="type">
            
            @Html.DisplayFor(model => model.Type)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.UserId }) |
    @Html.ActionLink("Back to List", "Index")
</p>

<script>
 
    $(".type").each(function()
    {
        if ($(this).text().trim() == "0")
        {
            $(this).text("Admin");
        }
        else if ($(this).text().trim() == "1")
        {
            $(this).text("Manager");
        }
        else if ($(this).text().trim() == "2")
        {
            $(this).text("Tenant");
        }
    })



</script>
