@*@model IEnumerable<PropertyRentalManagement.Models.User>*@
@model PagedList.IPagedList<PropertyRentalManagement.Models.User>
@using PagedList.Mvc;
<link href="~/Content/PagedList.css" rel="stylesheet" type="text/css" />

@{
    ViewBag.Title = "Index";
}

<h2>List of Managers</h2>
@using (Html.BeginForm("Index", "Manager", FormMethod.Get))
{
    <p>
        Find by Id or User Name :
        @Html.TextBox("SearchString", ViewBag.CurrentFilter as string)
        <input type="submit" value="Search" />
    </p>
}
<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.ActionLink("User Name", "Index", new { sortOrder = ViewBag.NameSortParm, currentFilter = ViewBag.CurrentFilter })
        </th>
        <th>
            @Html.ActionLink("Password", "Index")
        </th>
        <th>
            @Html.ActionLink("Type", "Index")
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.UserName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Password)
        </td>
        <td class="type">
            @Html.DisplayFor(modelItem => item.Type)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.UserId }) |
            @Html.ActionLink("Details", "Details", new { id=item.UserId }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.UserId })
        </td>
    </tr>
}

</table>
<br />
Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of @Model.PageCount

@Html.PagedListPager(Model, page => Url.Action("Index",
    new { page, sortOrder = ViewBag.CurrentSort, currentFilter = ViewBag.CurrentFilter }))
<script src="~/Scripts/jquery-1.10.2.min.js"></script>
<script>

    $(".type").each(function()
    {
        if ($(this).text().trim() == "0")
        {
            $(this).text("Admin");
        }
        else if ($(this).text().trim() == "1")
        {
            $(this).text("Manager");
        }
        else if ($(this).text().trim() == "2")
        {
            $(this).text("Tenant");
        }
    })



</script>