
@model PropertyRentalManagement.Models.User
@using PropertyRentalManagement.Models


@{
    ViewBag.Title = "MyAccount";

}

<h2>Profile</h2>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.UserId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.UserName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Password)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Type)
        </th>
        <th></th>
    </tr>


    <tr>
        <td>
            @Model.UserId
        </td>
        <td>
            @Model.UserName
        </td>
        <td>
            @Model.Password
        </td>
        <td id="type">
            @Model.Type
        </td>
        <td>

            @Html.ActionLink("Edit", "Edit", new { id = @Model.UserId }) |
            @Html.ActionLink("Details", "Details", new { id = @Model.UserId })
        </td>

    </tr>


</table>
<script src="~/Scripts/jquery-1.10.2.min.js"></script>
<script>
    if (($("#type").text()).trim()=="0")
    {
        $("#type").text("Admin");
    }
    else if ($("#type").text().trim() == "1")
    {
        $("#type").text("Manager");
    }
    else if ($("#type").text().trim() == "2")
    {
        $("#type").text("Tenant");
    }
</script>